.bx-wrapper img{display:block; width: auto; max-width: 100%;height:auto; }
.two-row .other-posts,.two-row .other-news,.home-tabs .other-posts,.home-tabs .other-news{margin-left: 0;margin-right: 0.8%; width: 49%;}
.three-row .other-posts,.three-row .other-news{margin-left: 0;  width: 32.33333%;margin-right: 10px;}